[workspace]
authors = ["Min RK <benjaminrk@gmail.com>"]
channels = ["conda-forge/label/jupyter-ai_rc", "conda-forge"]
name = "fernando-hub"
platforms = ["osx-arm64"]
version = "0.1.0"

[system-requirements]
macos = "25.0"

[tasks]
update-daemons = "sudo cp -v LaunchDaemons/*.plist /Library/LaunchDaemons/"
reload-daemons = { cmd = "bash -c 'for f in /Library/LaunchDaemons/org.jupyter.hub.*.plist; do echo reloading $f; sudo launchctl unload $f; sudo launchctl load $f; done'", depends-on = [
  "update-daemons",
] }
restart-daemons = "sh -c 'for name in $(sudo launchctl list | grep org.jupyter.hub | cut -f 3); do echo restarting $name; sudo launchctl kickstart -k system/$name; done'"
setup-logs = "sudo mkdir -p /Library/Logs/jupyterhub/traefik; sudo chown -R _traefik:admin /Library/Logs/jupyterhub/traefik"
install = "pixi install -a"
permissions = "sudo chown -R root:admin /opt/jupyterhub; sudo chmod -R a+rX /opt/jupyterhub/.pixi/envs; sudo chmod -R g+rw /opt/jupyterhub/; sudo chmod 0600 /opt/jupyterhub/traefik/acme.json; sudo chown -R root:admin /Library/Logs/jupyterhub; sudo chmod g+rX /Library/Logs/jupyterhub"
[tasks.update-envs]
depends-on = ["install", "permissions"]

[feature.hub.tasks]
jupyterhub = { cmd = ["jupyterhub"], cwd = "jupyterhub" }
proxy = { cmd = ["traefik", "--configfile=traefik.toml"], cwd = "traefik" }


[dependencies]

# shared dependencies across hub and user
# not 'default' because we might have tasks
[feature.common.dependencies]
python = "3.12.*"
jupyterhub-base = "5.4.*"

# Hub environment
[feature.hub.dependencies]
jupyterhub-traefik-proxy = "*"
oauthenticator = "*"

# User environment
[feature.user.dependencies]
jupyterlab = "*"
ipywidgets = "*"
altair = "*"
jupyter-collaboration = "*"
ruff = "*"
jupyterlab_code_formatter = "*"
pre-commit = "*"
matplotlib-base = "*"
scipy = "*"
uv = "*"
# model runners
ollama = "*"
mlx-lm = "*"

[feature.user.pypi-dependencies]
# prerelase jupyter-ai stuff
jupyter-ai = ">=3.0.0b9"
jupyterlab-chat = ">=0.19.0a0"
jupyter-server-mcp = "*"


[environments]
user = ["user", "common"]
hub = ["hub", "common"]
