<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>org.jupyter.hub.mlx_lm</string>
	<key>ProgramArguments</key>
	<array>
		<string>/opt/jupyterhub/models/start-mlx_lm.sh</string>
	</array>
	<key>StandardOutPath</key>
	<string>/Library/Logs/llm/mlx_lm.log</string>
	<key>UserName</key>
	<string>_llm</string>
	<key>WorkingDirectory</key>
	<string>/opt/jupyterhub</string>
</dict>
</plist>
