<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>org.jupyter.hub.jupyterhub</string>
	<key>ProgramArguments</key>
	<array>
		<string>/opt/jupyterhub/.pixi/envs/hub/bin/jupyterhub</string>
	</array>
	<key>StandardErrorPath</key>
	<string>/Library/Logs/jupyterhub/jupyterhub.log</string>
	<key>StandardOutPath</key>
	<string>/Library/Logs/jupyterhub/jupyterhub.out.log</string>
	<key>WorkingDirectory</key>
	<string>/opt/jupyterhub/jupyterhub</string>
</dict>
</plist>
